.container {
  display: flex;
}
.word-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 70%;
}

h1 {
  margin-bottom: 1rem;
}

form {
  align-items: center;
}

input[type="text"] {
  padding: 0.5rem;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
  border-right: none;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 4px 4px 0;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}
#field1 {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input-wrapper input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  outline: none; /* added to remove focus outline */
}

.input-wrapper input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.saved-words-table {
  margin-top: -5rem;
  margin-left: 2rem;
  width: 30%;
  max-height: 450px; /* Adjust this value according to your desired height */
  overflow-y: auto;
}
h2 {
  position: fixed;
  margin-top: -45px;
  margin-left: 25px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
}
